<h2>Reactivos: <small>Dinámicos</small></h2>
<hr>

<form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control" type="text" placeholder="Nombre de la persona" 
            formControlName="nombre" required>
            <span class="form-text text-danger" *ngIf="campoNoEsValido('nombre')">Este campo es obligatorio</span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">

            <div class="input-group">
                <input class="form-control" 
                [formControl]="miNuevoFavorito"
                placeholder="Agregar favorito" type="text" 
                name="nuevoJuego" (keyup.enter)="agregarFavorito()">
                <button class="btn btn-outline-primary" type="button" 
                (click)="agregarFavorito()" >Agregar</button>
            </div>

        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9" formArrayName="favoritos">
            <div class="input-group mb-1" *ngFor="let favorito of favoritosArr.controls; let i = index;">
                <input class="form-control" [formControlName]="i">
                <button class="btn btn-outline-danger" type="button" (click)="borrar(i)">Eliminar</button>
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col-sm-12">
            <button class="btn btn-primary float-end" type="submit">Guardar</button>
        </div>
    </div>

</form>

<span>Valid:</span>
<pre>{{miFormulario.valid}}</pre>

<span>Value:</span>
<pre>{{miFormulario.value | json}}</pre>

<span>Agregar juego:</span>
<pre>{{miNuevoFavorito.valid}}</pre>
<pre>{{miNuevoFavorito.value | json}}</pre>
